.container {
    box-sizing: border-box;
    height: 100%;
    border-left: 2px solid var(--color-black-alt4);
    transition: width .1s;
    overflow: auto;
    color: var(--color-primary-accent);
    width: var(--filter-pane-width);
    flex-shrink: 0;

    &.screenPlacementLeft {
        border-left: none;
        border-right: 2px solid var(--color-black-alt4);

        .header {
            flex-direction: row-reverse;
        }
    }

    .header{
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-shrink: 0;
        padding: 0;
    }

    .collapseExpandButtonContainer {
        width: calc(var(--grid-unit) * 6px);
        height: calc(var(--grid-unit) * 6px);
        border-bottom: 1px solid var(--color-black-alt4);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        border-bottom: 1px solid var(--color-black-alt4);

        &:last-child {
            border-bottom: none;
        }

        header {
            display: flex;
            align-items: center;
            cursor: pointer;

            h3 {
                flex-grow: 1;
                margin: 0;
            }

            button {
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

        .filter {
            border-bottom: 1px solid var(--color-black-alt4);

            &:last-child {
                border-bottom: none;
            }

            header {
                h4 {
                    flex-grow: 1;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 4px;

                    &:hover {
                        background: var(-color-primary-alt4);
                    }

                    > label {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &.compact {

        width: calc(var(--grid-unit) * 37px);

        &.isCollapsed {
            .content {
                padding: 0;
            }
        }

        .collapseExpandButtonContainer {
            width: calc(var(--grid-unit) * 4px);
            height: calc(var(--grid-unit) * 4px);
        }

        .content {
            padding: calc(var(--grid-unit) * 1px);

            section {
                padding-bottom: calc(var(--grid-unit) * 1px);
                margin-bottom: calc(var(--grid-unit) * 2px);

                &:first-of-type {
                    margin-top: calc(var(--grid-unit) * 1px);
                }

                &.isCollapsed {
                    padding-bottom: 0;
                }

                &.hasTitle {
                    .filter {
                        margin-left: calc(var(--grid-unit) * 1px);
                    }
                }

                header {
                    h3 {
                        font-size: 12px;
                    }
                }

                .filter {
                    padding-bottom: calc(var(--grid-unit) * 1px);
                    margin-bottom: calc(var(--grid-unit) * 2px);

                    &:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    &.isCollapsed {
                        padding-bottom: 0;
                    }

                    header {
                        h4 {
                            font-size: 11px;
                            font-weight: 400;
                        }
                    }

                    ul {
                        li {
                            > label {
                                margin-left: calc(var(--grid-unit) * 1px);
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.comfortable {

        width: calc(var(--grid-unit) * 39px);

        &.isCollapsed {
            .content {
                padding: 0;
            }
        }

        .content {
            padding: calc(var(--grid-unit) * 2px);

            section {
                padding-bottom: calc(var(--grid-unit) * 2px);
                margin-bottom: calc(var(--grid-unit) * 4px);

                &:first-of-type {
                    margin-top: calc(var(--grid-unit) * 1px);
                }

                &.isCollapsed {
                    padding-bottom: 0;
                }

                &.hasTitle {
                    .filter {
                        margin-left: calc(var(--grid-unit) * 2px);
                    }
                }

                header {
                    h3 {
                        font-size: 14px;
                    }
                }

                .filter {
                    padding-bottom: calc(var(--grid-unit) * 2px);
                    margin-bottom: calc(var(--grid-unit) * 4px);

                    &:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    &.isCollapsed {
                        padding-bottom: 0;
                    }

                    header {
                        h4 {
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }

                    ul {
                        li {
                            > label {
                                margin-left: calc(var(--grid-unit) * 1px);
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.isCollapsed {

        width: auto;

        &.compact, &.comfortable {
            .content {
                section {
                    .filter {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}