.reportErroMessage {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
        min-width: calc(var(--grid-unit) * 65px);
        max-width: calc(var(--grid-unit) * 100px);

        .header {
            color: var(--color-orange);
            margin-bottom: calc(var(--grid-unit) * 5px);
        }

        .restrictedAccessContainer {
            box-sizing: border-box;
            padding: calc(var(--grid-unit) * 3px);
            width: 100%;
            border-radius: 4px;
            background-color: var(--color-white);

            .reportInfoContainer {
                display: grid;
                grid-template-columns: 3fr 1fr;
                grid-gap: calc(var(--grid-unit) * 6px);

                h5 {
                    margin-bottom: calc(var(--grid-unit) * 2px);
                }
            }

            .serviceNowContainer {
                display: flex;
                flex-direction: column;
                align-items: center;

                h4 {
                    padding-bottom: calc(var(--grid-unit) * 3px);
                }
            }
        }
        .userIdentityContainer {
            width: 100%;
            box-sizing: border-box;
            padding: calc(var(--grid-unit) * 3px);
            color: var(--color-black-alt2);

            h4 {
                font-weight: 500;
            }

            .info {
                display: flex;
                flex-direction: row;

                div {
                    padding: calc(var(--grid-unit) * 1px);
                    min-height: calc(var(--grid-unit) * 2px);
                }

                .labels {
                    font-weight: 500;
                }

                .text {
                    font-weight: bold;
                }
            }
        }

        .accessControlContainer {
            background-color: var(--color-white);
            width: 100%;
            margin: calc(var(--grid-unit) * 2px);
        }
    }
}
