.container {
    padding: calc(var(--grid-unit) * 1px);
    display: flex;
    align-items: center;

    .details {
        display: flex;
        flex-direction: column;
        padding-left: calc(var(--grid-unit) * 2px); 

        .name {
            padding-bottom: calc(var(--grid-unit) * .5px);
        }

        .email {
            padding-top: calc(var(--grid-unit) * .5px);
        }
    }
}