.labelObject {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    letter-spacing: 1.5px;
    font-size: 12px;

    &.oneCardRow {
        flex-direction: row;
    }
}

.link {
    stroke: #dcdcdc; // EDS Design Token Interactive/Disabled/Border 🎨 Grey 20
    stroke-width: 2px;
    fill: none;
    shape-rendering: crispEdges;

    &.isLinked {
        stroke-dasharray: 5;
        stroke: #bebebe; // EDS Design Token Interactive/Disabled/Text 🎨 Grey 30
    }

    &.isDisconnected {
        stroke: none;
    }
}

.card,
.labelRect,
.breadCrumbRect,
.linkedIndicator {
    fill: none;
}
