@import '~styles/mixins.less';

.textAreaContainer {
   display: flex;
    flex-direction: column;

    .textAreaContent {
        display: flex;
        justify-content: space-between;
        min-height: .grid-unit(15px)[];
        background-color: var(--color-black-alt5);
        border-bottom: 1px solid var(--color-primary-accent);
        caret-color: var(--color-primary);
        padding: .grid-unit(1px)[] .grid-unit(2px)[];
        border-radius: 4px 4px 0 0;

        > aside {
            padding-right: .grid-unit(2px)[];
            display: flex;
            align-items: center;
        }

        &:hover {
            cursor: text;
        }

        &.disabled {
          border-bottom-color: var(--color-black-alt5);
          cursor: not-allowed;
        }

        &.focus {
            border-bottom: 1px solid var(--color-primary);
            box-shadow: 0 1px 0 var(--color-primary);
        }
        
        &.error {
            border-bottom-color: var(--color-red);
            caret-color: var(--color-red);
            
            &.focus {
                box-shadow: 0 1px 0 var(--color-red);
            }
        }
        
        &.labelLess {
            padding-top: 0;
            padding-bottom: 0;
        } 

        .inputTextContent {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;

            label {
                display: flex;
                position: relative;
                color: var(--color-primary-accent);
                opacity: 0.6;
                font-size: 16px;
                transition: top ease .2s, font-size .2s;
                top: 10%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            textarea {
                font-size: 16px;
                line-height: .grid-unit(2px)[];
                width: 100%;
                height: 100%;
                outline: none;
                background-color: var(--color-black-alt5);
                border: none;
                resize: none; 
                padding-top: 8px;

                &::placeholder {
                    color: var(--color-primary-accent);
                    opacity: 0.6;
                }
            }

            &.moveLabel {
                label {
                    font-size: 12px;
                    line-height: 14px;
                    top: .grid-unit(1px)[];
                    opacity: 1;
                    position: relative;
                }

                &.error{
                    label{
                        color: var(--color-red);
                    }
                }
            }

            &.disabled {
                label {
                    color: var(--color-primary-accent);
                    opacity: 0.6;
                    cursor: not-allowed;
                }

                input {
                    cursor: not-allowed;
                }
            }
        }
    }

    .helperIconText{
        display: flex;
        padding-left: .grid-unit(1px)[];
        padding-top: .grid-unit(0.5px)[];

        .helperText {
            display: flex;
            position: relative;
            font-size: 11px;
            padding-left: .grid-unit(1px)[];
            line-height: .grid-unit(2px)[];
            color: var(--color-black-alt2);

            &.error {
                color: var(--color-red);
            }
        }

        .icon {
            display: flex;
            padding-left: .grid-unit(1px)[];
            height: 100%;
        
            svg {
                width: .grid-unit(2px)[];
                height: .grid-unit(2px)[];
            }
        }
    }
}
