@import '~styles/mixins.less';

.container {
    height: .grid-unit(6px)[];
    width: .grid-unit(6px)[];
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .switch{
        height: .grid-unit(1px)[];
        width: 34px;
        border-radius: 4px;
        background-color: var(--color-black-alt3);
        display: flex;
        align-items: center;
        position: relative;
        z-index: 0;

        &.isActive {
            background-color:var(--color-supplementary-alt1);

            .activator{
                transform: translateX(calc(34px - calc(var(--grid-unit) * 2px)));//34px - 16px || 8px
                background-color: var(--color-primary);
            }
        }
        .activator{
            background-color: var(--color-black-alt2);
            border-radius: 50%;
            width: .grid-unit(2px)[];
            height: .grid-unit(2px)[];
            transition: transform ease 0.2s;
            left: 0;
            z-index: 1;
            position: absolute;
        }
        
        
    }

    &:hover{
        &:not(.disabled) {
            background-color: var(--color-primary-alt4);
            border-radius: 50%;

            .switch{
                &.isActive{
                    .activator{
                        background-color: var(--color-primary-hover);
                    }
                }
            }
        }
    }

    &:active {
        &:not(.disabled){
            background-color: var(--color-primary-alt3);
        }
    }
    
    &.disabled{
        cursor: not-allowed;

        .switch {
            background-color: var(--color-black-alt4);
            .activator{
                background-color: var(--color-black-alt4);
            }
        }
    }
  
}

