
@import '~styles/mixins.less';
@import '../inputStyles.less';

.radioButtonContainer {
    .inputStyles(dot, var(--color-primary), initial, initial);

    &.compact {
        input + label {
            &::before{
                width: .grid-unit(1.8px)[];
                height: .grid-unit(1.8px)[];
           
            }
        }
    }
    
    input + label {
        position: relative;

        &::before {
            border: 1px solid var(--color-primary);
            width: .grid-unit(2px)[];
            height: .grid-unit(2px)[];
            border-radius: 50%;
        }

        .dot {
            background-color: var(--color-primary);
            border-radius: 50%;
            transform: scale(0.8);
            opacity: 0;
            transition: all .1s;
            height: .grid-unit(1px)[];
            width: .grid-unit(1px)[];
        }
    }

    

}