// Primary color and alternatives
@color-primary: #007079;// Moss green
@color-primary-alt1: #73B0B5;
@color-primary-alt2: #A8CED1;
@color-primary-alt3: #C9E1E3;
@color-primary-alt4: #DEECEE;

// Signal color and alternatives
@color-signal: #FF1243; // Energy red
@color-signal-alt1: #FF7D98;
@color-signal-alt2: #FFAEBF;
@color-signal-alt3: #FFCDD8;
@color-signal-alt4: #FFE0E7;

// Accent 1 color and alternatives
@color-accent1: #990025; // Weathered red
@color-accent1-alt1: #C77387;
@color-accent1-alt2: #DCA8B5;
@color-accent1-alt3: #EAC9D1;
@color-accent1-alt4: #F2DEE3;

// Accent 2 color and alternatives
@color-accent2: #243746; // Slate blue
@color-accent2-alt1: #879199;
@color-accent2-alt2: #B5BBC0;
@color-accent2-alt3: #D1D5D8;
@color-accent2-alt4: #E3E5E7;

// Accent 3 color and alternatives
@color-accent3: #DEFAEB; // Soft mint
@color-accent3-alt1: #EDFCF4;
@color-accent3-alt2: #F4FDF8;
@color-accent3-alt3: #F8FEFB;
@color-accent3-alt4: #FBFEFC;

// Accent 4 color and alternatives
@color-accent4: #D5EAF4; // Mist blue
@color-accent4-alt1: #E8F3F9;
@color-accent4-alt2: #F1F8FB;
@color-accent4-alt3: #F6FBFD;
@color-accent4-alt4: #FAFCFE;

// Accent 5 color and alternatives
@color-accent5: #FBE5D5; // Spruce wood
@color-accent5-alt1: #FDF1E8;
@color-accent5-alt2: #FEF6F1;
@color-accent5-alt3: #FEFAF6;
@color-accent5-alt4: #FFFCFA;