:root {

    // Primary color and alternatives
    --color-primary: #007079;// Moss green
    --color-primary-alt1: #73B1B5;
    --color-primary-alt2: #A8CED1;
    --color-primary-alt3: #C9E0E2;
    --color-primary-alt4: #DEEDEE;
    --color-primary-accent: #243746;
    --color-primary-hover: #004E55;
    --color-primary-hover-alt1: rgba(0, 112, 121, 0.13);

    // Secondary color and alternatives
    --color-secondary: #FF1243;// Energy Red
    --color-secondary-alt1: #FF7D98;
    --color-secondary-alt2: #FFAEBF;
    --color-secondary-alt3: #FFCDD7;
    --color-secondary-alt4: #FFE0E7;
    --color-secondary-accent: #990025;

    // Black and white color and alternatives
    --color-black: #000000;// Energy Red
    --color-black-alt1: #333333;
    --color-black-alt2: #666666;
    --color-black-alt3: #BFBFBF;
    --color-black-alt4: #E6E6E6;
    --color-black-alt5: #F7F7F7;
    --color-white: #FFFFFF; // White

    // Supplementary colors
    --color-supplementary: #D5EAF4; // Mist blue
    --color-supplementary-alt1: #DEFAEB; // Soft mint
    --color-supplementary-alt2: #FBE5D5; // Spruce Wood

    // Non-brand colors
    --color-yellow: #FBCA36;
    --color-orange: #FF9200;
    --color-red: #FF3B3B;
    --color-green: #4BB748;
    --color-purple: #771FDD;
    --color-blue: #1273DD;
    --color-turquoise: #1DB7A6;
}