.personDetails {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    display: flex;

    .detailsContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .imageContainer {
        display: flex;
        flex-direction: column;
        flex: 0;
        padding: 0 calc(var(--grid-unit) * 3px);
    }

    .presenceSection {
        display: flex;
        flex-direction: row;
    }

    .presenceUnknown {
        padding-right: calc(var(--grid-unit) * 1px);
        color: var(--color-black-alt3);
    }

    .accountTypeSection {
        display: flex;
        flex-direction: row;
    }

    .iconContainer {
        display: flex;
        align-items: center;
        padding-right: calc(var(--grid-unit) * 1px);
    }
}

.personPositions {
    padding-top: calc(var(--grid-unit) * 1px);
}

.personName {
    font-size: 18px;
    font-weight: 600;
}

.detailSection {
    padding-top: calc(var(--grid-unit) *1px);
}