.chipContainer {
    display: inline-block;

    .chip {
        align-items: center;
        background-color: var(--chip-background-color);
        border-radius: 16px;
        color: var(--chip-color);
        cursor: default;
        display: inline-flex;
        padding: calc(var(--grid-unit) * 1px) calc(var(--grid-unit) * 2px);

        .removeButton {
            cursor: pointer;
            display: flex;
        }

        .title {
            margin: 0;

            & + .removeButton {
                padding-left: calc(var(--grid-unit) * 1px);
            }
        }
    }

    &:hover {
        .title,
        .removeButton {
            color: var(--chip-hover-color);
        }
    }

    --chip-color: var(--color-primary);
    --chip-background-color: var(--color-black-alt5);
    --chip-hover-color: var(--color-primary-hover);

    &.secondary {
        --chip-color: var(--color-secondary);
        --chip-background-color: var(--color-secondary-alt3);
        --chip-hover-color: var(--color-secondary);
    }
    &.primary {
        --chip-color: var(--color-primary);
        --chip-background-color: var(--color-primary-alt4);
        --chip-hover-color: var(--color-primary-hover);
    }
    &.disabled {
        --chip-color: var(--color-black-alt2);
        --chip-background-color: var(--color-black-alt5);
        --chip-hover-color: var(--color-black-alt2);

        .chip {
            cursor: not-allowed;
        }
    }
}
