.container {
    display: flex;
    align-items: center;

    &.comfortable {
        .searchInput {
            padding: 0 calc(var(--grid-unit) * 1px);
            line-height: calc(var(--grid-unit) * 6px);
            height: calc(var(--grid-unit) * 6px);
            font-size: 16px;
            margin-left: calc(var(--grid-unit) * 2px);
        }

        .contextButton {
            padding: 0 calc(var(--grid-unit) * 1px);
            line-height: calc(var(--grid-unit) * 6px);
            height: calc(var(--grid-unit) * 6px);
            margin-left: calc(var(--grid-unit) * 2px);
            font-size: 16px;
        }
    }

    &.compact {
        .searchInput {
            padding: 0 calc(var(--grid-unit) * 1px);
            line-height: calc(var(--grid-unit) * 5px);
            height: calc(var(--grid-unit) * 5px);
            font-size: 15px;
            margin-left: calc(var(--grid-unit) * 2px);
        }

        .contextButton {
            padding: 0 calc(var(--grid-unit) * 1px);
            line-height: calc(var(--grid-unit) * 5px);
            height: calc(var(--grid-unit) * 5px);
            margin-left: calc(var(--grid-unit) * 2px);
            font-size: 15px;
        }
    }
}

.searchInput {
    min-width: calc(var(--grid-unit) * 50px);
    width: fit-content;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    color: var(--color-primary-accent);
    background: none;
    box-sizing: border-box;

    &::placeholder {
        color: var(--color-primary-accent);
    }

    &.focus {
        border-bottom-color: var(--color-primary-accent);

        &::placeholder {
            color: var(--color-black-alt3);
        }
    }
}

.contextButton {
    border: none;
    outline: none;
    color: var(--color-primary-accent);
    background: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.popover {
    position: relative;
    top: 100%;
    margin-top: calc(var(--grid-unit) * 1px);
    pointer-events: all;
}

.noResultsMessage {
    background: var(--color-white);
    border-radius: 4px;
    padding: calc(var(--grid-unit) * 2px);
    max-width: calc(var(--grid-unit) * 70px)
}