.flexContainer {
    display: flex;
    align-items: center;
}
.component {
    width: calc(var(--grid-unit) * 65px);

    .searchInput {
        min-width: calc(var(--grid-unit) * 50px);
        width: fit-content;
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        color: var(--color-primary-accent);
        background: none;
        box-sizing: border-box;
        padding: 0 calc(var(--grid-unit) * 1px);
        line-height: calc(var(--grid-unit) * var(--height-multiplier));
        height: calc(var(--grid-unit) * var(--height-multiplier));
        margin-left: calc(var(--grid-unit) * 1px);
        font-size: var(--font-size);
        &.overlay{
            user-select: none;
            cursor: pointer;
        }
    }

    input.searchInput:focus{
        border-bottom-color: var(--color-primary);
    }

    &.comfortable {
        --height-multiplier: 6px;
        --font-size: 16px;
    }

    &.compact {
        --height-multiplier: 5px;
        --font-size: 15px;
    }
}

.dropdownContainer {
    max-height: calc(var(--grid-unit) * 60px);
    overflow-y: auto;

    .helperText {
        display: flex;
        padding: 0 calc(var(--grid-unit) * 2px);
        min-height: calc(var(--grid-unit) * 8px);
        align-items: center;
    }
}
