.detailsContainer {
    display: flex;
    flex-direction: column;

    .personPhoto {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(var(--grid-unit) * 2px) 0;
    }

    .personDetails {
        padding: calc(var(--grid-unit) * 1px) calc(var(--grid-unit) * 3px);
    }

    .menuContainer{
        border-top: 1px solid var(--color-black-alt4);
        margin: calc(var(--grid-unit) * 1px) 0;

        .itemComponent {
            color: var(--color-black-alt2);
            font-size: 14px;
        }
    }
}

.menuComponentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header{
        display: flex;
        align-items: center;
        color: var(--color-primary);
        font-weight: 500;
        height: calc(var(--grid-unit) * 7px);
        border-top: 1px solid var(--color-black-alt4);
        border-bottom: 2px solid var(--color-black-alt4);

        .itemHeader{
            display: flex;
            align-items: center;

            .title {
                padding-left: calc(var(--grid-unit) * 1px);
            }
        }
        
        .backButton {
            padding: 0 calc(var(--grid-unit) * 1px);
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}