.container {
    width: calc(var(--grid-unit) * 40px);
    padding: calc(var(--grid-unit)* 2px);
    box-sizing: border-box;
    display: block;
    background-color: var(--color-white);
    border: 1px solid var(--color-black-alt4);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    color: var(--color-primary-accent);

    &:hover {
        box-shadow:
            0px 1px 10px rgba(0, 0, 0, 0.2),
            0px 4px 5px rgba(0, 0, 0, 0.12),
            0px 2px 4px rgba(0, 0, 0, 0.14);
    }

    .projectName {
        font-weight: 600;
        line-height: var(--header-line-height);
    }

    .period {
        font-size: var(--text-font-size);
        line-height: var(--text-line-height);
    }

    .personPosition {  
        color: var(--color-primary);
        text-decoration: underline;
        font-size: var(--text-font-size);
        line-height: var(--text-line-height);
    }

    .projectName, .period, .personPosition {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &.comfortable {
        --container-padding: calc(var(--grid-unit) * 1px);
        --container-height: calc(var(--grid-unit) * 13);
        --header-line-height: 24px;
        --text-font-size: 16px;
        --text-line-height: 24px;
    }

    &.compact {
        --container-padding: calc(var(--grid-unit) * 1px);
        --container-height: calc(var(--grid-unit) * 12);
        --header-line-height: 24px;
        --text-font-size: 14px;
        --text-line-height: 16px;
    }
}