.presenceContainer {
    border-radius: 50%;
    width: var(--presenceContainerSize);
    height: var(--presenceContainerSize);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.available, &.availableidle {
        background: var(--color-green);
    }

    &.berightback, &.away {
        background: var(--color-yellow);
    } 
    &.donotdisturb {
        background: var(--color-danger);
    }

     &.busy, &.busyidle {
        background: var(--color-danger);
/*         color: var(--color-danger); */
    }

    &.offline {
        background: var(--color-black-alt3);
    }
    
    &.xlarge {
        &.comfortable, &.compact {
            // 24x24
            --presenceContainerSize: calc(var(--grid-unit) * 2px);
        }
    }

    &.large {
        &.comfortable, &.compact {
            // 16x16
            --presenceContainerSize: calc(var(--grid-unit) * 1.5px);
        }
    }

    &.medium {
        &.comfortable {
            // 16x16
            --presenceContainerSize: calc(var(--grid-unit) * 1.5px);
        }

        &.compact {
            // 12x12
            --presenceContainerSize: calc(var(--grid-unit) * 1.25px);
        }
    }

    &.small {
        &.comfortable {
            // 12x12
            --presenceContainerSize: calc(var(--grid-unit) * 1.25px);
        }

        &.compact {
            // 8x8
            --presenceContainerSize: calc(var(--grid-unit) * 1px);
        }
    }
}