.link {
    stroke: #dcdcdc; // EDS Design Token Interactive/Disabled/Border 🎨 Grey 20
    stroke-width: 2px;
    fill: none;
    shape-rendering: crispEdges;

    &.isLinked {
        stroke-dasharray: 5;
        stroke: #bebebe; // EDS Design Token Interactive/Disabled/Text 🎨 Grey 30
    }
}
.card,
.labelRect,
.linkedIndicator {
    fill: none;
}
