@import '~styles/mixins.less';

.inputContainer {
    max-width: .grid-unit(41px)[];
}

.menuContainer{
    position: absolute;
    top: 100%;
    min-width: 100%;
    margin-top: .grid-unit(0.5px)[];
    pointer-events: all;
}