@import '~styles/mixins.less';

.inputContainer{
    display: flex;
    flex-direction: column;

    
    .inputContent {
        display:  flex;
        justify-content: space-between;
        min-height: .grid-unit(5px)[];
        max-height: .grid-unit(7px)[];
        max-width: .grid-unit(41px)[];
        background-color: var(--color-black-alt5);
        border-bottom: 1px solid var(--color-primary-accent);
        caret-color: var(--color-primary);
        padding: 0 .grid-unit(2px)[];

        &:hover {
            cursor: text;
        }

        &.disabled {
          border-bottom-color: var(--color-black-alt5);
          cursor: not-allowed;

          .inputTextContent{
            .label {
                color: var(--color-primary-accent);
                opacity: 0.6;
            }
            input{
                cursor: not-allowed;
            }
        }
        }
        &.focus {
            border-bottom: 2px solid var(--color-primary);
    
            &.error{
                border-bottom-color: var(--color-red);
            } 
            .inputTextContent{
                padding-bottom: calc(.grid-unit(1px)[] - 1px);

            }
        }
    
        &.error {
            border-bottom-color: var(--color-red);
            caret-color: var(--color-red);

            .inputTextContent{
                .label {
                    color: var(--color-red);
                }
            }
        }

        .inputTextContent{
            display: flex;
            flex-direction: column;
            padding-bottom: .grid-unit(1px)[];
            width: 100%;
            
            &.labelLess{
                padding-top: .grid-unit(1px)[];
            }

            .label {
                font-size: 12px;
                line-height: 12px;
                padding-top: .grid-unit(1px)[];
            }

            input {
                font-size: 16px;
                line-height: .grid-unit(3px)[];
                width: 100%;
                outline: none;
                background-color: var(--color-black-alt5);
                border:none;
     
                &::placeholder {
                    color: var(--color-primary-accent);
                    opacity: 0.6;
                }
            }
        }
        .icon {
            align-self: center;
            padding-left: .grid-unit(2px)[];

            svg{
                width: .grid-unit(3px)[];
                height: .grid-unit(3px)[];
            }
        }
    }
    .helperText{
        padding: 0 .grid-unit(2px)[];
        font-size: 11px;
        line-height: .grid-unit(2px)[];
        color: var(--color-black-alt1);

        &.error {
            color: var(--color-red);
        }
    }
}