@import '~styles/variables.less';

.stepper {
    display: grid;
    grid-template-columns: max-content max-content auto;
    grid-template-areas: "prev next stepPane";

    border-bottom: 1px solid #ccc;
    padding: calc(var(--grid-unit) * 2px) 0;

    @media (max-width: @mobile-max-width) {
        grid-template-columns: max-content auto max-content;
        grid-template-areas: "prev stepPane next";
        padding: 0;
        border: none;
    }

    .prev {
        grid-area: prev;
    }

    .next {
        grid-area: next;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;

        @media (max-width: @mobile-max-width) {
            align-self: flex-start;
        }
    }

    .stepPane {
        grid-area: stepPane;
        display: flex;
        flex-direction: row;
        scroll-behavior: smooth;
        overflow: hidden;
        flex-grow: 1;
        
        .step {
            padding: calc(var(--grid-unit) * 1px);
            padding-left: calc(var(--grid-unit) * 2px);
            padding-right: calc(var(--grid-unit) * 2px);
            color: var(--color-black);
            display: grid;
            grid-template-columns: max-content max-content;
            grid-template-areas: "badge title"
                                 " . description";
            grid-template-rows: auto auto;
            
            --line-color: var(--color-primary);

            @media (max-width: @mobile-max-width) {

                grid-template-columns: max-content max-content;
                grid-template-areas: "badge title"
                                     "progress description";
                grid-template-rows: auto auto;
                padding: calc(var(--grid-unit) * 1px);
                padding-left: 0;
                padding-right:0;
            }

            &.compact {
                padding: calc(var(--grid-unit) * .5px);
            }

            &.isClickable {
                cursor: pointer;
            }

            &.disabled {
                cursor: not-allowed;
                color: var(--color-black-alt3) !important;
                --line-color: #ccc;
            }
    
            &.current {
                font-weight: 500;
            }

            .title {
                grid-area: title;
                overflow: hidden;
  

                @media (max-width: @mobile-max-width) {
                    width: 80%;
                }

                &.compact {
                    width: calc(var(--grid-unit) * 24px);
                }

                > span {
                    display: inline;
                    position: relative;
                }
            }

                &.isLastStep {
                    width: inherit;
                    
                    > span {
                        &::after {
                            border: 0;
                        }
                    }
                }
            }

            .badge {
                grid-area: badge;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                height: calc(var(--grid-unit) * 3px);
                width: calc(var(--grid-unit) * 3px);
                font-weight: 500;
                border: 1px solid #dcdcdc;
                border-radius: 50%;
                margin-right: calc(var(--grid-unit) * 1px);
                flex-shrink: 0;
                

                &.compact {
                    height: calc(var(--grid-unit) * 2px);
                    width: calc(var(--grid-unit) * 2px);
                }

                &.active {
                    border: 1px solid transparent;
                    background: var(--color-primary);
                    color: #fff;
                }

                &.done {
                    border: 1px solid var(--color-primary);
                    color: var(--color-primary);
                }
            }
        }
    }
    
    .description {
        grid-area: description;
        color: var(--color-black-alt2);
        
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .progress {
        
        color: var(--color-black-alt2);
        font-weight: 300;

        @media (max-width: @mobile-max-width) {
            grid-area: progress;
            font-size: 12px;
            width: 32px; 
            padding-right: calc(var(--grid-unit) * 1px);
            white-space: nowrap;
        }
    }

    .stepperLine {
        min-width: calc(var(--gri-unit) * 1px );
        content: " ";
        flex-grow: 0;
        height: calc(var(--grid-unit) * 1px);
        border-bottom: 1px solid var(--line-color);
        margin-left: calc(var(--grid-unit) * 2px);
      
        width: calc(var(--grid-unit) * 24px);


        @media (max-width: @mobile-max-width) {
        display: none;
        }
    }