.context {
    width: var(--container-width);
    padding: var(--container-padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.15s;

    &.isClickable {
        cursor: pointer;

        &:hover,
        &.isSelected {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12),
                0px 2px 4px rgba(0, 0, 0, 0.14);
        }

        &.isSelected {
            background-color: var(--color-primary-alt4);
            border-color: var(--color-primary-alt4);
        }
    }

    &.multipleAssignments {
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -2px;
            background-color: var(--color-primary-alt4);
            z-index: -1;
            border-radius: 4px;
            border-color: white;
        }

        .photoContainer {
            cursor: pointer;
        }
    }

    &.isLinked {
        border: 2px dashed #bebebe; // EDS Design Token Interactive/Disabled/Text 🎨 Grey 30
    }

    .rotationInstances {
        border-top: 1px solid var(--color-black-alt4);
        margin-top: calc(var(--grid-unit) * 1px);

        .assignee {
            display: flex;
            width: 100%;
            align-items: center;
            padding-top: calc(var(--grid-unit) * 1px);

            .assigneeInfo {
                display: flex;
                flex-direction: column;
                padding-left: calc(var(--grid-unit) * 2px);

                .name {
                    font-size: var(--big-section-font-size);
                }
                .externalId {
                    font-size: var(--small-section-font-size);
                }
            }
        }
    }

    .container {
        display: flex;
        flex-direction: row;

        .photoIconContainer {
            user-select: none;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;

            &.inline {
                flex-direction: row;
            }

            .personIconContainer {
                width: calc(var(--grid-unit) * 5px);
                height: calc(var(--grid-unit) * 5px);
                border-radius: 50%;
                color: var(--color-black-alt2);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .instanceCount {
                    position: absolute;
                    width: calc(var(--grid-unit) * 2.5px);
                    height: calc(var(--grid-unit) * 2.5px);
                    font-size: 12px;
                    font-weight: bold;
                    color: var(--color-white);
                    background-color: var(--color-red);
                    top: calc(var(--grid-unit) * 0.25px);
                    right: 0;
                    transform: translateX(50%);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .stateIcons {
                position: relative;
                padding-top: calc(var(--grid-unit) * 1px);
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &.inline {
                    flex-direction: row;
                    padding-top: 0;
                    justify-content: center;
                }
            }

            .edsIcon > * {
                height: 16px;
                width: 16px;
                color: var(--color-black-alt2);
            }

            .highligthTaskOwnerContainer {
                background-color: #243746; //EDS- infographic primary/slate Blue
                padding: 10px;
                border-radius: 50%;
    
                .highligthTaskOwnerIcon {
                    display: flex;
                    height: 16px;
                    width: 16px;
                    color: #DADADA;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        
        

        .positionInstance {
            position: relative;
            flex-grow: 1;
            margin-left: var(--photo-and-details-spacing);
            width: 1px;
            min-height: var(--instance-min-height);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .assignedPersonName span,
            .basePositionName span,
            .positionName span {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }

            .basePositionName,
            .location,
            .period {
                font-size: var(--small-section-font-size);
                line-height: var(--small-section-line-height);
            }

            .positionName {
                font-size: var(--big-section-font-size);
                margin-bottom: var(--position-name-spacing);
                line-height: var(--big-section-line-height);
                color: var(--color-primary);
                display: flex;

                span {
                    text-decoration: underline;
                }
            }

            .assignedPersonName {
                font-size: var(--big-section-font-size);
                line-height: var(--big-section-line-height);
                margin-right: var(--name-margin);
                display: flex;
            }
            .basePositionName {
                display: flex;
                margin-right: var(--name-margin);
            }

            .externalId {
                padding-left: calc(var(--grid-unit) * 0.5px);
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                font-size: var(--small-section-font-size);
                line-height: var(--small-section-line-height);
            }

            .childPositionCount {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                font-size: var(--small-section-font-size);
                letter-spacing: 1px;
                font-feature-settings: 'tnum' on, 'lnum' on;
            }

            .expandButton {
                height: var(--child-position-height);
                position: absolute;
                right: 0;
                bottom: 0;
            }

            &.cropPositionName {
                .positionName span {
                    margin-right: var(--name-margin);
                }
            }

            .positionTimeline {
                display: flex;
                width: 75%;
                height: 0.5rem;
            }
        }
    }

    &.instancesPopover {
        pointer-events: all;
        position: absolute;
        left: calc(100% + (var(--grid-unit) * 2px));
        background: white;
        border: 1px solid var(--color-black-alt4);
        border-radius: 4px;
        overflow: visible;

        .instanceWrapper {
            display: flex;
            width: var(--container-width);
            border-bottom: 1px solid var(--color-black-alt4);
            padding: var(--container-padding);
            box-sizing: border-box;
            transition: box-shadow 0.15s;

            &:hover {
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12),
                    0px 2px 4px rgba(0, 0, 0, 0.14);
            }

            &:first-child {
                border-radius: 4px 4px 0 0;
            }

            &:last-child {
                border: none;
                border-radius: 0 0 4px 4px;
            }
        }
    }

    &.comfortable {
        --container-width: calc(var(--grid-unit) * 40px);
        --container-height: calc(var(--grid-unit) * 14px);
        --container-padding: calc(var(--grid-unit) * 1px);
        --photo-and-details-spacing: calc(var(--grid-unit) * 2px);
        --position-name-spacing: calc(var(--grid-unit) * 1px);
        --name-margin: calc(var(--grid-unit) * 6px)

        --child-position-padding: calc(var(--grid-unit) * 1px);
        --child-position-height: calc(var(--grid-unit) * 6px - 2px);

        --small-section-font-size: 11px;
        --small-section-line-height: 16px;

        --big-section-line-height: 16px;
        --big-section-font-size: 16px;

        --instance-min-height:calc(var(--grid-unit) * 7px);

    }

    &.compact,
    &.inline {
        --container-width: calc(var(--grid-unit) * 35px);
        --container-height: calc(var(--grid-unit) * 12px);
        --container-padding: calc(var(--grid-unit) * 1px);
        --photo-and-details-spacing: calc(var(--grid-unit) * 1px);
        --position-name-spacing: 0;
        --name-margin: calc(var(--grid-unit) * 6px)

        --child-position-padding: calc(var(--grid-unit) * 0.5px);
        --child-position-height: calc(var(--grid-unit) * 4px);

        --small-section-font-size: 10px;
        --small-section-line-height: 12px;

        --big-section-line-height: 16px;
        --big-section-font-size: 14px;

        --instance-min-height:calc(var(--grid-unit) * 7px);
    }
    
    &.inline {
        --container-width: 100%;
        --name-margin: 0;
        --instance-min-height: 0;
        --container-padding: calc(var(--grid-unit) * .5px);
    }
}
