@import "~styles/mixins.less";

.container {
    grid-area: header;
    display: grid;
    grid-template-areas: "start logo content aside";
    grid-template-columns: max-content max-content auto max-content;
    grid-template-rows: 100%;
    align-items: center;
    background: white;
    border-bottom: 2px solid var(--color-black-alt4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &.comfortable {
        padding: 0 .grid-unit(2px)[];
        height: .grid-unit(10px)[];
        width: calc(100% - (var(--grid-unit) * 4px));

        .startContainer, .asideContainer {
            > button {
                margin-right: .grid-unit(1px)[];
            }

            :last-child, :only-child {
                margin: 0;
            }
        }

        .startContainer {
            margin-right: .grid-unit(1px)[];
        }

        .fusionTitleContainer {
            margin-right: .grid-unit(6px)[];
        }

        .appNameDivider {
            height: .grid-unit(3px)[];
            margin: 0 .grid-unit(1px)[];
        }
    }

    &.compact {
        padding: 0 .grid-unit(2px)[];
        height: .grid-unit(6px)[];
        width: calc(100% - (var(--grid-unit) * 4px));

        .startContainer, .asideContainer {
            > button {
                margin-right: .grid-unit(1px)[];
            }

            :last-child, :only-child {
                margin: 0;
            }
        }

        .startContainer {
            margin-right: .grid-unit(1px)[];
        }

        .fusionTitleContainer {
            margin-right: .grid-unit(4px)[];
        }

        .appNameDivider {
            height: .grid-unit(2px)[];
            margin: 0 .grid-unit(1px)[];
        }
    }

    .appNameLink,
    .appNameLink:visited,
    .appNameLink:hover,
    .appNameLink:focus,
    .appNameLink.active {
        text-decoration: none;
        color: var(--color-primary-accent) !important;
        font-size: 16px;
        font-weight: 400;
        display: inline-flex;
        height: 100%;
        align-items: center;
    }
}

.fusionTitleContainer a,
.fusionTitleContainer a:visited,
.fusionTitleContainer a:hover,
.fusionTitleContainer a:focus,
.fusionTitleContainer a:active {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary-accent) !important;
}


.startContainer {
    grid-area: start;
}

.fusionLogo {
    margin-right: .grid-unit(1px)[];
}

.fusionTitleContainer {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.contentContainer {
    grid-area: content;
}

.asideContainer {
    grid-area: aside;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    margin-left: .grid-unit(1px)[];
    margin-right: .grid-unit(1px)[];
}

/* Override the icon button colors */
.startContainer, .asideContainer {
    > button > span {
        color: var(--color-black-alt2) !important;
    }

    > button:global(.isActive) > span {
        color: var(--color-white) !important;
    }
}

.appNameDivider {
    display: inline-block;
    width: 1px;
    background-color: var(--color-black-alt4);
}