@import "~styles/mixins.less";

.container {
    grid-area: header;
    display: grid;
    grid-template-areas: "start logo content aside";
    grid-template-columns: max-content max-content auto max-content;
    grid-template-rows: 100%;
    align-items: center;
    background: white;
    border-bottom: 2px solid var(--color-black-alt4);
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    &.comfortable {
        padding: 0 .grid-unit(2px)[];
        height: .grid-unit(10px)[];

        .startContainer, .asideContainer {
            > button {
                margin-right: .grid-unit(1px)[];
                width: .grid-unit(6px)[];
                height: .grid-unit(6px)[];
            }

            :last-child, :only-child {
                margin: 0;
            }
        }

        .startContainer {
            margin-right: .grid-unit(1px)[];
        }

        .fusionTitleContainer {
            margin-right: .grid-unit(6px)[];
        }
    }

    &.compact {
        padding: 0 .grid-unit(2px)[];
        height: .grid-unit(6px)[];

        .startContainer, .asideContainer {
            > button {
                margin-right: .grid-unit(1px)[];
                width: .grid-unit(4px)[];
                height: .grid-unit(4px)[];
            }

            :last-child, :only-child {
                margin: 0;
            }
        }

        .startContainer {
            margin-right: .grid-unit(1px)[];
        }

        .fusionTitleContainer {
            margin-right: .grid-unit(4px)[];
        }
    }
}

.fusionTitleContainer,
.fusionTitleContainer:visited,
.fusionTitleContainer:hover,
.fusionTitleContainer:active,
.fusionLogo,
.fusionTitle {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary-accent);
}


.startContainer {
    grid-area: start;
}

.fusionLogo {
    margin-right: .grid-unit(1px)[];
}

.fusionTitleContainer {
    grid-area: logo;
}

.contentContainer {
    grid-area: content;
}

.asideContainer {
    grid-area: aside;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
}

.startContainer, .asideContainer {
    > button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: var(--color-black-alt2);
    }
}