 .notificationsContainer {
    display: flex;
    flex-direction: column;    
    height: 100%;

    .tabContent {
        overflow: auto;
        padding: 0 1rem 1rem 1rem;
            
        .noNotificationMessage {
            display: flex;
            justify-content: center;
            font-weight: 500;
            padding-top: 1rem;
        }

        .divisionTitle {
            padding-left: 0.5rem;
        }
    
        .division {
            padding-bottom: 1rem;
            
            .dateMarker {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 0.5rem 0;
                font-size: 12px;
                color: var(--color-black-alt2);
            }
        }
           
    }

}

.settingsTab {
    margin-left: auto;
 }

.notificationWrapper {
    border-radius: 4px;
    margin-bottom: calc(var(--grid-unit) * 2px);
    border-collapse: separate; 
    border: 1px solid var(--color-black-alt4);

    &.unSeen{
        border: 1px solid var(--color-primary);
    }    
}

.chip {
    background-color: var(--color-danger);
    border-radius: 50%;
    width: 1rem;
    display: inline;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: #FFF;
}