name: Build and publish to NPM

on:
  release:
    types: 
      - published

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: 'https://registry.npmjs.org'
    - name: npm install 
      run: |
        npm ci
    - name: Build
      run: | 
        npm run build
    - name: npm publish release
      if: "!github.event.release.prerelease"
      run: | 
        npm publish --access public
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
    # @TODO use action for tag
    - name: npm publish release
      if: "github.event.release.prerelease"
      run: | 
        npm publish --tag next --access public
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}